* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: var(--poppins-font);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

li,
svg {
  display: flex;
}
