.whyUsSection {
    width: 1280px;
    margin: 40px auto;
    text-align: center;
}

.whyUsSectionTitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 12px;
}

.whyUsSectionText {
    font-weight: 400;
    font-size: 18px;
}

.whyUsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.whyUsCard {
    width: 360px;
    text-align: center;
}

.whyUsCardTitle {
    font-weight: 500;
    font-size: 24px;
    margin: 24px 0 16px;
}

.whyUsCardText {
    font-weight: 400;
    font-size: 16px;
}